@charset "utf-8";

h1 {
    text-shadow: 2px 2px #0076d6;
    border-style: dotted;
    border-width: 0px 0px 3px;
}

/*navigation bar*/
body > header > nav > ul {
	display: inline-block;
	width: 100%;
    list-style-type: none;
    columns: 4;
    font-size: 1.5em;
    padding-left: 10%;
    padding-right: 0%;
    height: 3em;
    padding-top: 1%;
    padding-bottom: 1%;
    overflow: hidden;
    font-family: inherit;
    text-decoration: none;
    background-image: linear-gradient(rgb(0, 60, 255), rgb(0, 255, 98));
}
/*navigation bar text and buttons*/
a {
	color: rgb(0, 247, 255);
    text-decoration: none;
    text-align: center;
    vertical-align: middle;
    width: 100%;
    height: 100%;
}
a:visited {
	color: rgb(0, 247, 255);
}
a:focus {
	outline: thin dotted;
}
a:hover, a:active {
	outline: 0;
    filter: grayscale(100%);
}
/* The dropdown container */
.dropdown {
    float: left;
    overflow: hidden;
}
/* Dropdown button */
.dropdown .dropbtn {
    font-size: 1.1em;
    border: none;
    outline: none;
    color: rgb(21, 255, 0);
    padding: 5px 16px;
    padding-right: 2000px;
    background-color: inherit;
    font-family: inherit; 
    margin: 0;
    padding-top: 2px;
}
/* Add color to navbar links on hover */
.navbar, .dropbtn {
    background-color: rgb(0, 68, 255);
}
/* Dropdown content*/
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
/* Links inside the dropdown */
.dropdown-content a {
    float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
/* Add color to dropdown links on hover */
.dropdown-content a:hover {
    background-color: #f9f9f9;
}
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
} 
/*background image and text sizing*/
body {
    background-image: url(main-background.png);
}
p {
    font-size: 1.7em;
}
.body{
    position: relative;
}
.body:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    background-image: url(white-textbox.jpg);
    background-position: bottom;
    background-repeat: repeat;
    background-size: auto;
}
.body-image {
    position: relative;
}
.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
/*return to top button*/
.return {
    background-color: black;
    border-radius: 12px;
    height: 50px;
    margin-bottom: 10px;
    margin-top: 0px;
}

html {
    height: 100%;
}
body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

/*login box*/
.login-box {
    position: sticky;
    top: 50%;
    left:40%;
    width: 400px;
    padding: 40px;
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0, 0, 0, 0.6);
    border-radius: 10px;
    background: #141e30;
}
.login-box h2 {
    margin: 0 0 30px;
    padding: 0;
    color: #fff;
    text-align: center;
}
.login-box .user-box {
    position: relative;
}
.login-box .user-box input {
    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    margin-bottom: 30px;
    border: none;
    border-bottom: 1px solid #fff;
    outline: none;
    background: #141e30;
}
.login-box .user-box label {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px 0;
    font-size: 16px;
    color: #fff;
    pointer-events: none;
    transition: 0.5s;
}
.login-box .user-box input:focus ~ label, .login-box .user-box input:valid ~ label {
    top: -20px;
    left: 0;
    color: #03e9f4;
    font-size: 12px;
}
.login-box form a {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    color: #03e9f4;
    font-size: 16px;
    text-decoration: none;
    text-transform: uppercase;
    overflow: hidden;
    transition: 0.5s;
    margin-top: 40px;
    letter-spacing: 4px;
}
section, a {
    color: #03e9f4;
}
.login-box a:hover {
    background: #03e9f4;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 5px #03e9f4, 0 0 25px #03e9f4, 0 0 50px #03e9f4, 0 0 100px #03e9f4;
}
.login-box a span {
    position: absolute;
    display: block;
}
button .login-form-submit {
    color: #141e30;

}
/*submit button animation*/
.login-box a span:nth-child(1) {
    top: 0;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #03e9f4);
    animation: btn-anim1 1s linear infinite;
}
@keyframes btn-anim1 {
    0% {
        left: -100%;
    }
    50%, 100% {
        left: 100%;
    }
}
.login-box a span:nth-child(2) {
    top: -100%;
    right: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #03e9f4);
    animation: btn-anim2 1s linear infinite;
    animation-delay: 0.25s;
}
@keyframes btn-anim2 {
    0% {
        top: -100%;
    }
    50%, 100% {
        top: 100%;
    }
}
.login-box a span:nth-child(3) {
    bottom: 0;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #03e9f4);
    animation: btn-anim3 1s linear infinite;
    animation-delay: 0.5s;
}
@keyframes btn-anim3 {
    0% {
        right: -100%;
    }
    50%, 100% {
        right: 100%;
    }
}
.login-box a span:nth-child(4) {
    bottom: -100%;
    left: 0;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #03e9f4);
    animation: btn-anim4 1s linear infinite;
    animation-delay: 0.75s;
}
@keyframes btn-anim4 {
    0% {
        bottom: -100%;
    }
    50%, 100% {
        bottom: 100%;
    }
}

/*closing footer*/
footer {
	clear: left;
	background-color: rgb(0, 31, 71);
	color: white;
	text-align:center;
	height: 30px;
	font-size: 1em;
    padding-top: 1%;
    padding-bottom: 2%;
}